body
{
font-family: Raleway;
    font-size: 17px;
    margin-left: 50px;
    width: 100%;
        
}

.logo img
{
    width: 10%;
}

form
{
    margin-top: 2em;

}
.box
{
    display: flex;
}
.box .lieu
{
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    padding: 0.8em;
}
.box input[ type="text"]
{
    border: #F2F2F2 solid 1px;
    width: 180px;
}

.box input[ type="submit"]
{
    
    border: none;
    border-radius: 0 10px 10px 0;
    color: white;
    background-color: #0065FC;
}
.possibilities
{
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 1.5em 1.5em 0 1.5em;
    font-weight: bold;
}
.Filtres
{
    margin-right: 3%;
}

.choice
{
  margin-top: 0.5em;
    margin-right: 3%;
    list-style: none; 
    border: #F2F2F2 solid 1px;
    border-radius: 15px;
    padding-right: 0.5em;
    border-left: none;
    font-weight: bold;
    
}
.choice:hover
{
  background-color: lightblue;
}
.possibilities i 
{
    padding: 0.4em;
    border: solid 1px #F2F2F2;
    border-radius: 15px;
    margin-right: 0.8em;
    color: #0065FC;
    background-color: #DEEBFF;
} 
.possibilities a
 {
    text-decoration: none;
    color: black;
}


ul
{
  list-style: none;

      }
nav
{
    
   float: right; 
    
}

nav li
{
    display: inline-block;
    width: 200px;
    
    line-height: 25px;
    
}

a
{
    display: inline;
   
}
.upline a::before{
    content: " ";
    display: block;
    height: 0.5px;
    width: 100px;
    position: absolute;
    background: blue;
    transform: scale(0);
    transition: transform 0.2s ease-in-out ;
    
}
.upline a:hover::before
{
    transform: scale(1);
}
.wrapper
{
    margin-top: 20px;
}
.info
{
    margin-bottom: 40px;
    margin-top: 40px;
}


.info i
{margin-top: 20px;
    margin-right: 5px;
    border: solid #F2F2F2 2px;
    background-color: #0065FC;
    color: white;
    border-radius: 1em;
    
}

.info p
{
    display: inline;



/* ici c'est la partie dev*/

}
section
{
    
    }
form 
{
    font-weight:bold;
}

#hebergement
{
  background-color: #F2F2F2;
    border-radius: 20px;
    width:900px;
  height: 650px;
    float: left;
    
    margin-bottom: 100px;
    
}
#populaires h6
{
    margin-left: 60px;
    margin-right: 200px;
    margin-top: 30px;
    margin-bottom: 40px;
    display: inline;
}
#hebergement h5
{
    margin-left: 70px;
}
#hebergement h6
{
    margin-left: 60px;
}
#activites h5
{
   margin-top: 600px;
    margin-right: 600px;
}
.text
{
    
    display: inline-block;
}

.stars
{
    padding-bottom: 10px;
}

#hebergement article
{
 display: inline-block;
    background-color: white;
   border-radius: 40px; 
    margin-left: 50px;
    margin-bottom:20px;    
}


 #hebergement img 

{
   
    width: 200px;
    height: 100px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}

.overlay1
{
margin-left: 30px;    

}


#populaires
{
    background-color:#F2F2F2;
    float:right;
    width: 450px;
    border-radius: 20px;
    height: 650px;
    margin-right: 100px;
}


#populaires article
{
 display: inline-block;
    background-color: white;
   border-radius: 40px; 
    margin-left: 50px;
    margin-bottom: 20px;
   height: 140px;
    margin-top: 20px;
    
     
}

#populaires img
{
     width: 150px;
    height: 130px;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 20px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px; 
  
}
h6 i
{
    float: right;
    margin-right: 10px;
}
.overlay2
{
  float: right;
    width: 200px;
    height: 130px;    
}

#activites
{
    width: 100%;
    height: 500px;
    margin-bottom: 30px;

   
    
    
}


.conteneur1

{
    float: left;
   
    width:48%;
    height: 500px;
    padding-top:20px;
    
}

.conteneur2
{
    
 
    float: right;
    width: 48%;
    height: 500px;
    padding-top:10px;
    
}

.articlesuite img
 
{
    width: 250px;
    height: 150px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}

.articlefirst img
{
    
    height: 350px;
    width: 250px;
      border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
#activites article
{
    display: inline-block;
    background-color:snow;
   border-radius: 40px; 
    margin-left: 50px;
    margin-bottom:20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius: 20px;
}
.conteneur1 .overlay3
{
    margin-left: 40px;
}
.conteneur2 .overlay3
{
    
    margin-left: 50px;
}

.articlefirst
{
    
    float: left;
    height: 400;
    border-radius: 40px;    
   
}

footer
{
    width: 100%;
    height: 150px;
    margin-top: 20px;
    background-color: #F2F2F2; 
    display: flex;
    
    
    }
footer div
{
display: flex;
flex-direction: column;
    }
footer ul
{
    margin-left: 90px;
}
.column2
{
    
    margin-left: 60px;
    margin-right: 50px;
}
.column3
{
    
    
    margin-left: 100px;
}

footer p {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
}




 

.stars
{
 margin-top: 2px;
  
}
