p
{
font-family: Raleway;
}
div p
{
    
    font-size: 12px;
}
.bouton
{
    
    background-color:#0065FC;
}
input:focus
{
   background-color: aqua; 
    
}

ul
{
  list-style: none;

      }
nav
{
    
   float: right;
    
    
    
    
}

li
{
    display: inline-block;
    width: 150px;
    
    line-height: 25px;
}
#details li
{ 
    display: inline-block;
    width: 450px;
    float: left;
        
}
input:hover
{color: red;}

.info
{
   margin-bottom: 20px;
    margin-top: 10px;
   
}


.Filtres p
{
    display: inline;
}



input::placeholder
{
  font-weight: bold;  
}


.ovale
{
    display: inline-block;
    width: 150px;
    height: 25px;
    border-radius: 60px / 40px;
    background: white;
    border:ridge;
    margin-bottom: 5px;
}
.ovale:hover
{color: blue;
    color: 
}


.ovale i
{
    padding-left:10px;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
  background-color: lightblue;
  width: 20px;
    height: 15px;
    border-radius: 60px / 40px;
    
 

}
.fas fa-money-bill-wave
{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: red;
    
}


/* ici c'est la partie dev*/

}
section
{
    
    }
form 
{
    font-weight:bold;
}

#hebergement
{
  background-color: #F2F2F2;
    border-radius: 20px;
    width:900px;
  height: 550px;
    float: left;
    
    margin-bottom: 100px;
    
}
#Populaires h5
{
    margin-left: 60px;
}
#hebergement h5
{
    margin-left: 70px;
}
#hebergement h6
{
    margin-left: 60px;
}
#Activites h5
{
   margin-top: 600px;
    margin-right: 600px;
}
.text
{
    
    display: inline-block;
}

.stars
{
    padding-bottom: 10px;
}

#hebergement article
{
 display: inline-block;
    background-color: white;
   border-radius: 40px; 
    margin-left: 50px;
    margin-bottom:20px;    
}


 #hebergement img 

{
   
    width: 200px;
    height: 100px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}

.overlay1
{
margin-left: 30px;    

}


#Populaires
{
    background-color:#F2F2F2;
    float:right;
    width: 450px;
    border-radius: 20px;
    height: 550px;   
}


#Populaires article
{
 display: inline-block;
    background-color: white;
   border-radius: 40px; 
    margin-left: 50px;
    
     
}

#Populaires img
{
     width: 150px;
    height: 110px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px; 
  
}
.overlay2
{
  float: right;
    width: 200px;
    height: 130px;    
}

#Activites
{
    width: 100%;
    height: 500px;

   
    
    
}


.conteneur1

{
    float: left;
   
    width:48%;
    height: 500px;
    padding-top:20px;
    
}

.conteneur2
{
    
 
    float: right;
    width: 48%;
    height: 500px;
    padding-top:10px;
    
}

.articlesuite img
 
{
    width: 250px;
    height: 150px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}

.articlefirst img
{
    
    height: 350px;
    width: 250px;
      border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
#Activites article
{
    display: inline-block;
    background-color:snow;
   border-radius: 40px; 
    margin-left: 50px;
    margin-bottom:20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius: 20px;
}
.conteneur1 .overlay3
{
    margin-left: 40px;
}
.conteneur2 .overlay3
{
    
    margin-left: 50px;
}

.articlefirst
{
    
    float: left;
    height: 400;
    border-radius: 40px;    
   
}


.cl-footer 
{
    width: 100%;
    height: 150px;
    float: left;
    background-color: #F2F2F2;

}
 

.stars
{
 margin-top: 2px;
  
}

